name: main

on:
  push:
    tags-ignore:
      - "**"
    branches:
      - "**"

jobs:
  generated-go:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - name: go generate
        shell: bash
        run: go generate ./...
      - uses: a-novel-kit/workflows/generic-actions/check-changes@master
        with:
          fail_message: go generate definitions are not up-to-date, please run 'go generate ./...' and commit the changes

  lint-go:
    runs-on: ubuntu-latest
    needs: [generated-go]
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/go-actions/lint-go@master

  lint-node:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/node-actions/lint-node@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}

  test:
    needs: [lint-go, build-database]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      artifact-id: ${{ steps.test.outputs.artifact-id }}
    services:
      postgres:
        image: ghcr.io/a-novel/service-narrative-engine/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      POSTGRES_DSN_TEST: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
      POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
      OPENAI_MODEL: gpt-5.2
      OPENAI_BASE_URL: https://api.openai.com/v1
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/run-migrations
      - uses: a-novel-kit/workflows/go-actions/test-go@master
        id: test
        with:
          filter_extra_patterns: " | grep -v /cmd"
          skip_setup: true
          coverage_artifact: gocover

  test-js:
    runs-on: ubuntu-latest
    needs: [build-database, build-standalone]
    permissions:
      contents: read
      packages: read
    outputs:
      artifact-id: ${{ steps.test.outputs.artifact-id }}
    services:
      mailserver:
        image: ghcr.io/axllent/mailpit:v1.28.3
        ports:
          - "8025:8025"
        env:
          MP_MAX_MESSAGES: 5000
          MP_SEND_API_AUTH_ACCEPT_ANY: true
          MP_SMTP_AUTH_ACCEPT_ANY: true
          MP_SMTP_AUTH_ALLOW_INSECURE: true
          MP_SENDMAIL_FROM: noreply@agorastoryverse.com
          MP_DISABLE_WAL: true

      postgres-json-keys:
        image: ghcr.io/a-novel/service-json-keys/database:v2.1.4
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      postgres-authentication:
        image: ghcr.io/a-novel/service-authentication/database:v2.2.5
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      postgres-narrative-engine:
        image: ghcr.io/a-novel/service-narrative-engine/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      service-json-keys:
        image: ghcr.io/a-novel/service-json-keys/standalone:v2.1.4
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          POSTGRES_DSN: postgres://postgres:postgres@postgres-json-keys:5432/postgres?sslmode=disable
          APP_MASTER_KEY: "fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"

      service-authentication:
        image: ghcr.io/a-novel/service-authentication/standalone:v2.2.5
        ports:
          - "4011:8080"
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          POSTGRES_DSN: postgres://postgres:postgres@postgres-authentication:5432/postgres?sslmode=disable
          SERVICE_JSON_KEYS_PORT: 8080
          SERVICE_JSON_KEYS_HOST: service-json-keys
          SUPER_ADMIN_EMAIL: noreply@agorastoryverse.com
          SUPER_ADMIN_PASSWORD: admin
          PLATFORM_AUTH_URL: "http://auth-platform"
          SMTP_SENDER_DOMAIN: mailserver
          SMTP_ADDR: mailserver:1025
          SMTP_SENDER_NAME: Agora Storyverse [noreply]
          SMTP_SENDER_EMAIL: noreply@agorastoryverse.com
          SMTP_SENDER_PASSWORD: noreply
          SMTP_FORCE_UNENCRYPTED: true

      service-narrative-engine:
        image: ghcr.io/a-novel/service-narrative-engine/standalone@${{ needs.build-standalone.outputs.digest }}
        ports:
          - "4021:8080"
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          POSTGRES_DSN: postgres://postgres:postgres@postgres-narrative-engine:5432/postgres?sslmode=disable
          SERVICE_JSON_KEYS_PORT: 8080
          SERVICE_JSON_KEYS_HOST: service-json-keys
          OPENAI_MODEL: gpt-5.2
          OPENAI_BASE_URL: https://api.openai.com/v1
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
    env:
      API_URL: http://0.0.0.0:4021
      AUTH_API_URL: http://0.0.0.0:4011
      MAIL_TEST_HOST: http://0.0.0.0:8025
    steps:
      - uses: a-novel-kit/workflows/node-actions/test-node@master
        id: test
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}
          coverage_artifact: jscover

  build-database:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    outputs:
      digest: ${{ steps.build.outputs.digest }}
    env:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_INITDB_ARGS: --auth=scram-sha-256
    steps:
      - uses: a-novel-kit/workflows/build-actions/docker@master
        id: build
        with:
          file: builds/database.Dockerfile
          image_name: ${{ github.repository }}/database
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: >-
            -e POSTGRES_PASSWORD="${POSTGRES_PASSWORD}" 
            -e POSTGRES_USER="${POSTGRES_USER}" 
            -e POSTGRES_DB="${POSTGRES_DB}"
            -e POSTGRES_HOST_AUTH_METHOD="${POSTGRES_HOST_AUTH_METHOD}"
            -e POSTGRES_INITDB_ARGS="${POSTGRES_INITDB_ARGS}"

  build-migrations:
    runs-on: ubuntu-latest
    needs: [build-database]
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    services:
      postgres-narrative-engine:
        image: ghcr.io/a-novel/service-narrative-engine/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
    steps:
      - uses: a-novel-kit/workflows/build-actions/docker-job@master
        with:
          file: builds/migrations.Dockerfile
          image_name: ${{ github.repository }}/jobs/migrations
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: -e POSTGRES_DSN="${POSTGRES_DSN}"

  build-job-init:
    runs-on: ubuntu-latest
    needs: [test, build-database]
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    services:
      postgres-narrative-engine:
        image: ghcr.io/a-novel/service-narrative-engine/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
      DEV_MODE: true
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/run-migrations
      - uses: a-novel-kit/workflows/build-actions/docker-job@master
        with:
          file: builds/init.Dockerfile
          image_name: ${{ github.repository }}/jobs/init
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: >-
            -e POSTGRES_DSN="${POSTGRES_DSN}"
            -e DEV_MODE="${DEV_MODE}"

  build-rest-api:
    needs: [test, build-database]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    services:
      postgres-json-keys:
        image: ghcr.io/a-novel/service-json-keys/database:v2.1.4
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      postgres-narrative-engine:
        image: ghcr.io/a-novel/service-narrative-engine/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256

      service-json-keys:
        image: ghcr.io/a-novel/service-json-keys/standalone:v2.1.4
        ports:
          - "4002:8080"
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          POSTGRES_DSN: postgres://postgres:postgres@postgres-json-keys:5432/postgres?sslmode=disable
          APP_MASTER_KEY: "fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"
    env:
      POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
      OPENAI_MODEL: gpt-5.2
      OPENAI_BASE_URL: https://api.openai.com/v1
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      SERVICE_JSON_KEYS_PORT: 4002
      SERVICE_JSON_KEYS_HOST: 0.0.0.0
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/run-migrations
      - uses: a-novel-kit/workflows/build-actions/docker@master
        with:
          file: builds/rest.Dockerfile
          image_name: ${{ github.repository }}/rest-api
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: >-
            -e POSTGRES_DSN="${POSTGRES_DSN}"
            -e OPENAI_MODEL="${OPENAI_MODEL}"
            -e OPENAI_BASE_URL="${OPENAI_BASE_URL}"
            -e OPENAI_API_KEY="${OPENAI_API_KEY}"
            -e SERVICE_JSON_KEYS_PORT="${SERVICE_JSON_KEYS_PORT}"
            -e SERVICE_JSON_KEYS_HOST="${SERVICE_JSON_KEYS_HOST}"

  build-standalone:
    needs: [test, build-database]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    outputs:
      digest: ${{ steps.build.outputs.digest }}
    services:
      postgres-json-keys:
        image: ghcr.io/a-novel/service-json-keys/database:v2.1.4
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      postgres-narrative-engine:
        image: ghcr.io/a-novel/service-narrative-engine/database@${{ needs.build-database.outputs.digest }}
        ports:
          - "5432:5432"
        env:
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
          POSTGRES_HOST_AUTH_METHOD: scram-sha-256
          POSTGRES_INITDB_ARGS: --auth=scram-sha-256

      service-json-keys:
        image: ghcr.io/a-novel/service-json-keys/standalone:v2.1.4
        ports:
          - "4002:8080"
        credentials:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          POSTGRES_DSN: postgres://postgres:postgres@postgres-json-keys:5432/postgres?sslmode=disable
          APP_MASTER_KEY: "fec0681a2f57242211c559ca347721766f8a3acd8ed2e63b36b3768051c702ca"
    env:
      POSTGRES_DSN: postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
      OPENAI_MODEL: gpt-5.2
      OPENAI_BASE_URL: https://api.openai.com/v1
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      SERVICE_JSON_KEYS_PORT: 4002
      SERVICE_JSON_KEYS_HOST: 0.0.0.0
      DEV_MODE: true
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/run-migrations
      - uses: a-novel-kit/workflows/build-actions/docker@master
        id: build
        with:
          file: builds/standalone.Dockerfile
          image_name: ${{ github.repository }}/standalone
          github_token: ${{ secrets.GITHUB_TOKEN }}
          run_args: >-
            -e POSTGRES_DSN="${POSTGRES_DSN}"
            -e OPENAI_MODEL="${OPENAI_MODEL}"
            -e OPENAI_BASE_URL="${OPENAI_BASE_URL}"
            -e OPENAI_API_KEY="${OPENAI_API_KEY}"
            -e SERVICE_JSON_KEYS_PORT="${SERVICE_JSON_KEYS_PORT}"
            -e SERVICE_JSON_KEYS_HOST="${SERVICE_JSON_KEYS_HOST}"
            -e DEV_MODE="${DEV_MODE}"

  build-js:
    needs: [test-js]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    steps:
      - uses: a-novel-kit/workflows/node-actions/build-node@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          app_private_key: ${{ secrets.DEPENDENCY_BOT_PRIVATE_KEY }}
          app_id: ${{ vars.DEPENDENCY_BOT_ID }}
          build_action: "build:rest"

  report-grc:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' && success()
    needs: [test, test-js]
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/go-actions/go-report-card@master
        if: github.ref == 'refs/heads/master' && success()

  report-codecov:
    runs-on: ubuntu-latest
    needs: [test, test-js]
    permissions:
      contents: read
    steps:
      - uses: a-novel-kit/workflows/generic-actions/codecov@master
        with:
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
          coverage_files: coverage.txt,coverage/*
          coverage_artifact_ids: ${{ needs.test.outputs.artifact-id }},${{ needs.test-js.outputs.artifact-id }}

  publish-docs:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master' && success()
    needs: [build-js]
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - run: |
          mkdir _site
          mv openapi.html _site/index.html
          mv openapi.yaml _site/openapi.yaml
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v4
      - id: deployment
        uses: actions/deploy-pages@v4
